-
	var headerLinks = [
		{
			linkContent: 'home',
			linkClass: 'active',
			linkAnchor: '#home'
		},
		{
			linkContent: 'features',
			linkAnchor: '#features'
		},
		{
			linkContent: 'about',
			linkAnchor: '#about'
		},
		{
			linkContent: 'testimonials',
			linkAnchor: '#testimonials'
		},
		{
			linkContent: 'pricing',
			linkAnchor: '#testimonials'
		},
		{
			linkContent: 'contact',
			linkAnchor: '#contact'
		}
	]

-
	var featuresItems = [
		{
		  addClass: 'card__image-container_circle',
			svgId: 'display',
			caption: 'Responsive',
			description: 'Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia consectetur.'
		},
		{
		  addClass: 'card__image-container_circle',
			svgId: 'settings',
			caption: 'Customizable',
			description: 'Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia consectetur.'
		},
		{
		  addClass: 'card__image-container_circle',
			svgId: 'like',
			caption: 'Lovely design',
			description: 'Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia consectetur.'
		},
		{
		  addClass: 'card__image-container_circle',
			svgId: 'phone',
			caption: 'Mobile friendly',
			description: 'Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia consectetur.'
		}
	]

-
	var listDetailsItems = [
		{
			svgId: 'cup',
			text: 'Awesome disign'
		},
		{
			svgId: 'mouse',
			text: 'Fully responsive'
		},
		{
			svgId: 'energy',
			text: 'Retina ready'
		},
		{
			svgId: 'speedometer',
			text: 'Tons of features and easy to use'
		}
	]

-
	var reviews = [
		{
			text: 'Once upon a time all the Rivers combined to protest against the action of the Sea in making their waters salt. “When we come to you,” said they to the Sea.',
			avatar: './assets/images/common/users/user-01.png',
			name: 'John Doe',
			action: 'Ceo, the rivers company'
		},
		{
			text: 'A shoe is not only a design, but it\'s a part of your body language, the way you walk. The way you\'re going to move is quite dictated by your shoes.',
			avatar: './assets/images/common/users/user-02.png',
			name: 'Dean Winchester',
			action: 'Ux designer, google inc.'
		},
		{
			text: 'Once upon a time all the Rivers combined to protest against the action of the Sea in making their waters salt. “When we come to you,” said they to the Sea.',
			avatar: './assets/images/common/users/user-01.png',
			name: 'John Doe',
			action: 'Ceo, the rivers company'
		},
		{
			text: 'A shoe is not only a design, but it\'s a part of your body language, the way you walk. The way you\'re going to move is quite dictated by your shoes.',
			avatar: './assets/images/common/users/user-02.png',
			name: 'Dean Winchester',
			action: 'Ux designer, google inc.'
		},
		{
			text: 'Once upon a time all the Rivers combined to protest against the action of the Sea in making their waters salt. “When we come to you,” said they to the Sea.',
			avatar: './assets/images/common/users/user-01.png',
			name: 'John Doe',
			action: 'Ceo, the rivers company'
		},
		{
			text: 'A shoe is not only a design, but it\'s a part of your body language, the way you walk. The way you\'re going to move is quite dictated by your shoes.',
			avatar: './assets/images/common/users/user-02.png',
			name: 'Dean Winchester',
			action: 'Ux designer, google inc.'
		},
		{
			text: 'Once upon a time all the Rivers combined to protest against the action of the Sea in making their waters salt. “When we come to you,” said they to the Sea.',
			avatar: './assets/images/common/users/user-01.png',
			name: 'John Doe',
			action: 'Ceo, the rivers company'
		},
		{
			text: 'A shoe is not only a design, but it\'s a part of your body language, the way you walk. The way you\'re going to move is quite dictated by your shoes.',
			avatar: './assets/images/common/users/user-02.png',
			name: 'Dean Winchester',
			action: 'Ux designer, google inc.'
		}
	]

-
	var contactCards = [
		{
			svgId: 'phone',
			description: '<a href="tel:+44151245678" class="contact__phone-link">Phone: (415)124-5678</a><br><p class="contact__phone-fax">Fax: (412)123-8290</p>'
		},
		{
			svgId: 'pointer',
			description: '1001 Brickell Bay Dr.<br> Suite 1900<br> Miami, FL 33131'
		},
		{
			svgId: 'envelope',
			description: '<a href="mailto:support@yourname.com" class="contact__email-link">support@yourname.com</a>'
		}
	]

-
	var socialLinks = [
		{
			href: '/',
			icon: 'behance'
		},
		{
			href: '/',
			icon: 'dribble'
		},
		{
			href: '/',
			icon: 'twitter'
		},
		{
			href: '/',
			icon: 'facebook'
		},
		{
			href: '/',
			icon: 'linkedin'
		}
	]