@keyframes showInLeft
  from 
    opacity 0
    transform translateX(-100%)

  to 
    opacity 1
    transform translateX(0)


@keyframes hideInRight
  from 
    opacity 1
    transform translateX(0)

  to
    opacity 0
    transform translateX(100%)
