.action
  @media screen and (max-width: 991px)
    &__content
      flex-direction column
      justify-content space-around

    &__text
      text-align center

  @media screen and (max-width: 767px)
    &__text
      span
        display block
