.plans
  @media screen and (max-width: 767px)
    .slick-list,
    .block-header
      margin-bottom 40px

    .review
      &__text
        padding-right 0

    .slick-slide
      &:nth-child(even)
        .review
          padding-left 15px