.list
  overflow hidden

  &__item
    @extend $flexDisplay
    @extend $alignItemsCenter
    margin-bottom 10px

  &__image
    max-width 18px
    max-height 16px
    margin-right 7px
    fill $blue

  &__text
    color #1b1b1b
